body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}


/* h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
} */


/* h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
} */

p {
    color: #8f8f8f;
}


/* Heading */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
}

.section-heading {
    font-size: 2rem;
    line-height: 1.5;
}


/* containers */

.container-fluid {
    padding: 7% 15%;
    /* padding: 3% 15%; */
}


/* section */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}


/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    /* font-family: 'Montserrat'; */
}

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title-Section */


/* #title { */


/* background-color: #ff4c68;
    color: white; */


/* text-align: left;
} */

#title .container-fluid {
    padding: 3% 15% 12%;
    text-align: left;
}


/* Title-Image */

.title-image {
    width: 18rem;
    transform: rotate(25deg);
    position: absolute;
    /* right: 30%; */
}

#features {
    /* padding: 7% 15%; */
    /* background-color: white; */
    position: relative;
    /* z-index: 1; */
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    /* text-align: center; */
    padding: 5%;
}

.icon {
    padding-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial section */

#testimonials {
    /* text-align: center; */
    background-color: #ef8172;
    /* color: white; */
}

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}


/* Press section */

#press {
    /* text-align: center; */
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* .carousel-item {
    padding: 7% 15%;
} */


/* Pricing Section */

#pricing {
    padding: 100px;
    /* text-align: center; */
}

.price-text {
    font-size: 2rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* cta-section */


/* #cta {
    background-color: #ff4c68; */


/* text-align: center; */


/* color: white; */


/* padding: 7% 15%;
} */


/* .cta-heading {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 1.5;
} */


/* Footer-Section */


/* #footer {
    text-align: center;
    padding: 7% 15%;
} */

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1130px) {
    #title .container-fluid {
        text-align: center;
    }
    .title-image {
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}


/* @media (min width:500px) and (max-width:900px) {} */